body {
  margin: 0;
}

.form {
  position: relative;
  padding: 2rem;
  height: max-content;
  font-family: 'Arial';
  max-width: max-content;
  border-radius: 11px;
  background: '#fff';
  box-shadow: 29px 29px 46px #929292, -29px -29px 46px #ffffff;
}
